body{
    background-color: rgb(163, 247, 215);
}
.heading
{
    margin: 0;
    padding: 1rem 1rem 1rem 2rem;
    background-color: #14ebff;
    color: #9a2a4600;
}
.heading-mark{
    color: #000;
    font-weight: bold;
    padding: 3px;
;}