*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif; 
   
}
.header{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #00122e;
}
nav{
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #182842;
    width: 120px;
    padding: 10px 0;
}
nav.logo{
    width: 56px;
    display: block;
    margin: auto;
    cursor: pointer;
    
}
nav ul{
    margin-top: 160px;
}
nav ul li{
    list-style: none;
}
nav ul li img{
    width: 50px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity 0.5s,background 0.5s;
}
nav ul li img:hover{
    opacity: 1;
    background: #4d6181;
}
.active{
    opacity: 1;
    background: #4d6181;
}
.container{
    margin-left: 120px;
    padding: 0 2.5%;
}
.top-icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 25px 0;
}
.top-icons img{
    width: 25px;
    margin-left: 40px;
    cursor: pointer;
}
.row{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.col-1{
    flex-basis: 80%;
}
.col-2{
    flex-basis: 10%;
}
.joined{
    background: #182842;
    border-radius: 15px;
    padding: 30px 40px 50px;
    color: #fff;
}
.joined div{
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}
.joined img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.invite{
    margin-top: 20px;
    background: #182842;
    border-radius: 15px;
    padding: 40px 40px 50px;
    color: #fff;
}
.invite img{
    margin-top: 20px;
    width: 50px;
    margin-left: 5px;
    border-radius: 50%;
    cursor: pointer;
}
.host-img{
    margin: 0;
    top: 0;
}
.mainimg{
    object-fit: fill;
    }
.attend-logo{
    margin-left: 50%;
}
.namecol1{
    margin-top: 20%;
    color: #fff;
    flex-basis: 50%;
}
.roow{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.namecol2{
    margin-top: 20%;
    flex-basis: 50%;    
}
#fname{
    margin-top: 20px;
}
.button{
    margin-top: 5%;
    width: 10%;
    height: 5%;
    border-radius: 10px;
    background-color: #eea29a;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition: 0.4s;
    cursor: pointer;
    margin-left: 40%;
    
}
.button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(-10px);
}